@ViewData["Title"]="Enviado";
<div id="linkParaOFreteGratis">
    <h3>FRETE GRATIS PARA TODOS OS ITENS DA LISTA </h3>
</div>


<section class="checkMensagem">
    <div class="imgCheck">
        <img src="/icones/check.svg" alt="">
    </div>
    <p >mensagem Enviada xD</p>
    <a asp-action="ListagemFormulario">confira sua mensagem</a>
</section>

<div id="faixaMarcas">
            <h1>NOSSAS MARCAS</h1>
            <div class="containerdasMarcas">
                <div class="circuloDeMarca"><a href=""><img src="/img/1280px-Adidas_Logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Nike-symbol-vector-400x400.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Oakley_logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/quiksilver-logo-1.png" alt=""></a></div>
            </div>
        </div>