@{
    ViewData["Title"] = "Home Page";
}

</header>
    <section style="padding-top: 80px;">
        <div id="bannerPromocao">
            <div id="linkParaOFreteGratis">
                <h3>FRETE GRATIS PARA TODOS OS ITENS DA LISTA </h3>
            </div>
            <div id="LinkParaOsProdutosEmOfertaDoBanner">
                <h3>PRODUTOS COM ATE</h3>
                <h1>70% OFF</h1>
                <button id="botaoBannerPromocao">APROVEITE ></button>
            </div>
        </div>

        <div id="faixaPromocao">
            
            <div class="boxPromocao">
                <div id="boxPromocaoIconeCamisa">
                    <img src="/img/037-tshirt.png" alt="">
                </div>
                <div id="boxPromocaoTextoCamisa">
                    <h3>4 POR R$ 99,90</h3>
                </div>  
            </div>
            <div class="boxPromocao">
                <div id="boxPromocaoIconesapato">
                    <img src="/img/040-shoes.png" alt="">
                </div>
                <div id="boxPromocaoTextosapato">
                    <h3>2 POR R$ 99,90</h3>
                </div>  
            </div>
            <div class="boxPromocao">
                <div id="boxPromocaoIconeLeveMaisPagueMenos">
                    <img src="/img/005-cap.png" alt="">
                </div>
                <div id="boxPromocaoTextoLeveMaisPagueMenos">
                    <h3>LEVE 3 E PAGUE 2</h3>
                </div>  
            </div>
        </div>

        <div id="faixaCategoria">

        </div>

        <!----------------------------------->

        <div id="faixaMarcas">
            <h1>NOSSAS MARCAS</h1>
            <div class="containerdasMarcas">
                <div class="circuloDeMarca"><a href=""><img src="/img/1280px-Adidas_Logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Nike-symbol-vector-400x400.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Oakley_logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/quiksilver-logo-1.png" alt=""></a></div>
            </div>
        </div>
        <div id="newslatter"></div>
    </section>