<section class="checkMensagem">
    <div class="imgCheck">
        <img src="/icones/check.svg" alt="">
    </div>
    <p >produto adicionado ao carrinho</p>
    <a asp-action="Produtos">continuar comprando</a>  <a asp-action="carrinho">ir para o carrinho</a>   
</section>