@ViewData["Title"]= "Produtos";

            <div id="linkParaOFreteGratis" style= "margin-top:80px;">
                <h3>FRETE GRATIS PARA TODOS OS ITENS DA LISTA </h3>
            </div>
            
<section class="container" style="margin-top: 16px;">
            <h1>
                Produtos:
            </h1>
            <div class="containerConteudo">
                <div class="containerImagem">
                    <a asp-action="produtoDetalheQuik"><img src="/imagensProdutos/AK2-0021-006_zoom1.jpg" alt=""></a>
                    <div class="descricaoProduto">
                        <p style="padding: 10px 0;font-size: 18px;">Camiseta basica Quiksilver Masculina</p>
                        <p><strong>R$: 49,99</strong></p>
                        <span>parcelamento em ate 4x 12,49</span>
                    </div>
                </div>
                <div class="containerImagem">
                    <a asp-action="produtoDetalheAdidas"><img src="/imagensProdutos/COL-8580-012_zoom1.jpg" alt=""></a>
                    <div class="descricaoProduto">
                        <p style="padding: 10px 0;font-size: 18px;">Camiseta basica Adidas Masculina</p>
                        <p><strong>R$: 49,99</strong></p>
                        <span>parcelamento em ate 4x 12,49</span>
                    </div>
                </div>
                <div class="containerImagem">
                    <a asp-action="produtoDetalheNike"><img src="/imagensProdutos/HZM-1091-026_zoom1.jpg" alt=""></a>
                    <div class="descricaoProduto">
                        <p style="padding: 10px 0;font-size: 18px;">Camiseta basica Nike <br>Masculina</p>
                        <p><strong>R$: 49,99</strong></p>
                        <span>parcelamento em ate 4x 12,49</span>
                    </div>
                </div>
                <div class="containerImagem">
                    <a asp-action="camisaDetalheOakley"><img src="/imagensProdutos/photo-of-a-man-listening-music-on-his-phone-846741.jpg" alt=""></a>
                    <div class="descricaoProduto">
                        <p style="padding: 10px 0;font-size: 18px;">Camiseta basica Oakley Masculina</p>
                        <p><strong>R$: 49,99</strong></p>
                        <span>parcelamento em ate 4x 12,49</span>
                    </div>
                </div>
            </div>
        </section>
        <div id="faixaMarcas">
            <h1>NOSSAS MARCAS</h1>
            <div class="containerdasMarcas">
                <div class="circuloDeMarca"><a href=""><img src="/img/1280px-Adidas_Logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Nike-symbol-vector-400x400.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Oakley_logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/quiksilver-logo-1.png" alt=""></a></div>
            </div>
        </div>