@model itemPedido
<div id="linkParaOFreteGratis" style= "margin-top:80px;">
    <h3>FRETE GRATIS PARA TODOS OS ITENS DA LISTA </h3>
</div>

<section class="container">
<div class="linksDeAcesso">
    <a asp-action="Produtos">Produtos/</a>
</div>

<section class="paginaDeCompra">
    <div class="produtoDetalhebg">
        <div class="produtoDetalhe">
            <p>Camiseta basica Adidas Masculina</p>
            <p>R$: 49,99</p>
            <p>parcelamento em ate 4x 12,49</p>
        </div>
    </div>

    <div class="produtoImagembg">
        <div class="produtoImagem">
           <img src="/imagensProdutos/COL-8580-012_zoom1.jpg" alt="">
        </div>
    </div>

    <div class="produtoPagamentobg">

        <form method="POST">
            <p>
               <label asp-for="Descricao" > camisa oakley basica</label>
            </p>
            <p style="display: flex; padding:5px;">
                <label asp-for="Quantidade" >quantidade:</label>
                <input asp-for="Quantidade" value="1">
            </p>
             <p  style="display: flex; padding:5px;">
                <label asp-for="Tamanho" ></label>
                <input asp-for="Tamanho" value="M">
            </p>
            <p>
                <label asp-for="Valor"value="@ViewBag.Valor">Valor:49.99</label>
                
            </p>
            <input class="btn" type="submit" value="COMPRAR">
        </form>

    </div>
</section>
</section>
<div id="faixaMarcas">
            <h1>NOSSAS MARCAS</h1>
            <div class="containerdasMarcas">
                <div class="circuloDeMarca"><a href=""><img src="/img/1280px-Adidas_Logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Nike-symbol-vector-400x400.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/Oakley_logo.svg.png" alt=""></a></div>
                <div class="circuloDeMarca"><a href=""><img src="/img/quiksilver-logo-1.png" alt=""></a></div>
            </div>
        </div>